.logo--big {
  margin: 64px auto;
  text-align: center;
}
.text-center{
  text-align: center;
  color: white;
}
.div-width {
  width: 90vw;
  max-width: 425px;
  margin: 16px auto 0px;
  display: block;
}
.validation-width{
  text-align: center;
}
.input-div {
  border-bottom: 1px solid white;
}
.icon {
  color: white;
  vertical-align: middle;
  margin: 8px;
}
.input {
  font-size: 16px;
  border: none;
  vertical-align: middle;
  outline: none;
  background: transparent;
  color: white;
  &::placeholder {
    color: white;
  }
}
.btn {
  width: -webkit-fill-available;
  margin: 8px auto;
  font-size: 16px;
  padding: 8px 0px;
}
